.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 2px;
    margin: 4px 2px;
    transition-duration: 0.4s;

}

.button:hover {
    background-color: #ffffff;
    color: rgb(12, 12, 12);
}